body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;

	font-family: 'PT Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
	background-color: rgb(255, 255, 255);

	box-sizing: border-box;
	box-shadow:
		-40px 0 0 #f2f2f2,
		 40px 0 0 #f2f2f2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	color: #202020;
}

ul {
	margin: 0;
	padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
	position: relative;
	z-index: 200;

	width: 1055px;
	height: 56px;
	margin: 0 72px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	height: 56px;
	margin: 0;
}

.main-nav li {
	width: 127px;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
	padding: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

header img {
	position: absolute;

	top: 0;
	left: calc((1055px /2) - (138px / 2));
}

.heading-info {
	margin-right: 147px;
}

.main-nav .heading-info,
.main-nav .heading-photo{
	text-align: left;
}

.main-nav .heading-map,
.main-nav .heading-hotels{
	text-align: right;
}

.main-nav a:hover {
	color: #91bcd8;
}

.main-nav a:focus {
	color: #c9c9c9;
}

.main-nav a:active{
	color: #aca099;
}

.main-logo {
  position: relative;
	z-index: 100;

	width: 1200px;
	height: 717px;

	background-image: url("../img/mask.png"), url("../img/slogan.png"), url("../img/Sedona_mountain.jpg");
	background-position: 50% 445px, 50% 76px, center;
	background-repeat: no-repeat;
}

.main-info {
	position: absolute;
	bottom: 0;

	width: inherit;
	height: 215px;

	background-color: white;
}

.main-info strong {
	display: inline-block;

	margin: 65px 282px 30px;

	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
}

.main-info p {
	display: inline-block;

	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.reason-1,
.reason-2 {
	width: auto;
	height: 256px;
	margin-top: 7px;

	color: #fff;
	background-color: #81b3d2;
}

.reason-1 .container,
.reason-2 .container {
	box-sizing: border-box;

	width: 400px;
	height: inherit;
	padding: 47px 46px;

	text-align: center;
}

.reason-1 .container {
	float: left;
}

.reason-1 img {
	float: right;
}

.reason-1 .container {
	padding: 46px 48px 62px;
}

.reason-2 .container {
	padding: 46px 30px 62px;
}

.reason-1 h3,
.reason-2 h3 {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;

	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reason-1 p
.reason-2 p  {
	margin: 0;
	margin-top: 25px;
	padding: 0;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.reason-2 .container {
	float: right;
}

.reason-2 img {
	float: left;
}

.features-1,
.features-2 {
	width: auto;
	text-align: center;
}

.features-1 h3,
.features-2 h3 {
	margin: 0;
	margin-bottom: 30px;

  font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.features-1 p,
.features-2 p {
	margin: 0;

  font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.features-1 {
	height: 330px;
}

.features-2 {
	height: 255px;
	background-color: #eeeeee;
}

.feature-item {
	position: relative;

	float: left;

	box-sizing: border-box;
	width: 400px;
	height: inherit;
}

.features-1 .feature-item {
	padding: 160px 30px 0;
}

.features-1 .feature-item::before {
  content: "";
  position: absolute;
  top: 56px;
	left: 162px;

  width: 75px;
	height: 80px;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.feature-house::before {
	background-image: url(../img/icon-1.svg);

}

.feature-food::before {
	background-image: url(../img/icon-2.svg);

}

.feature-souvenir::before {
	background-image: url(../img/icon-3.svg);
}

.features-2 ul {
	height: inherit;
}

.features-2 .feature-item  {
	padding: 50px 47px 40px 47px ;
}

.features-2 h2 {
	margin-bottom: 25px;
}

.features-2 p {
	margin-bottom: 25px;
}

.call {
	position: relative;

	width: auto;
	height: 291px;
	padding-top: 58px;
}

.call > h3 {
	margin-bottom: 28px;

	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.call p {
	font-size: 14px;
	line-height: 24px;
}

.map-container {
	position: relative;

	width: auto;
	height: 473px;
}

/*-----------------ФОРМА START-----------------*/
form {
	position: absolute;
	top: -86px;
	left: 316px;

	width: 568px;
	height: 481px;

	text-align: justify;
	background-color: #ffffff;
}

.search {
	box-sizing: border-box;
	height: 86px;
	margin: 0;
	padding-top: 35px;
	padding-left: 139px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: white;

	background-color: #766357;
}

.form-open {
	padding: 55px;
}

label {
	float: left;

	width: auto;
	padding-top: 6px;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

input {
	float: right;

	width: 346px;
	height: inherit;
	border: none;

	background-color: #f2f2f2;
}

form .container {
	width: 100%;
	height: 38px;
	margin-bottom: 30px;

	vertical-align: middle;
}

input[type="date"] {
	margin: 0;
	padding: 0;

	background:url("../img/calendar.svg") no-repeat 97% 50%;
}

.amount-adults {
	float: left;
	width: 255px;
}

.amount-children {
	float: right;
}

.amount-children input {
	margin-left: 25px;
}

input[type="number"] {
	width: 114px;
	height: 38px;
}

input[type="submit"] {
	width: 468px;
	height: 58px;
	margin-top: 55px;
	padding: 17px 196px;
	border: none;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
}

/*-----------------ФОРМА ENDS-----------------*/

/*-----------------FOOTER START-----------------*/

footer {
	height: 120px;
	margin: 0;

	background-color: #f9fbf6;
	opacity: 0.9;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: inherit;
}

.footer-contact {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-contact span {
  text-align: left;
  display: block;
}

.footer-social li {
	display: inline-block;
}

.social-btn {
	display: inline-block;

	width: 46px;
	height: 48px;
	vertical-align: middle;

	font-size: 0;

	background-color: #81b3d2;
	background-position: center;
	background-repeat: no-repeat;
}

.social-btn-tw {
	background-image: url(../img/sm-twitter.svg);
}

.social-btn-fb {
	background-image: url(../img/sm-facebook.svg);
}

.social-btn-yt {
	background-image: url(../img/sm-youtube.svg);
}

.footer-copyright {
	width: 211px;
	height: 41px;
	padding-top: 2px;
}

.footer-copyright .copyright {
	float: left;

	margin: 0;
	padding: 0;
	padding-top: 7.5px;
	vertical-align: middle;

	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}
/*-----------------FOOTER ENDS-----------------*/

/*-----------------INDEX.html ENDS-----------------*/



/*-----------------HOTELS.html START-----------------*/
.form-hotel {
	height: 303px;
	visibility: hidden;
}

.hotel-item {
	display: flex;
	justify-content: space-between;

	padding: 30px;
	padding-left: 237px;
	padding-right: 72px;

  text-align: left;

  border-top: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-item:last-child {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-description p {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-description span {
  margin-right: 76px;
}

.read-more,
.reserve {
  width: 110px;
  height: 27px;
  margin: 0;
  border: none;
  padding: none;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.read-more {
  background-color: #81b3d2;
}

.reserve {
  width: 142px;
  background-color: #766357;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 110px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
}

.stars-4 {
  width: inherit;
  background-image: url("img/star.svg");
}

.mark {
  padding-left: 16px;

  background-color: #f2f2f2;
}




/* .hotel-amara {
  position: relative;
}

.hotel-amara::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/hotel_amara.jpg);
} */






/*-----------------HOTELS ENDS-----------------*/

