html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;

	font-family: 'PT Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
	background-color: rgb(255, 255, 255);

	box-shadow:
		-150vh 0 0 #f2f2f2,
		 150vh 0 0 #f2f2f2;
}


a {
	text-decoration: none;
	color: #202020;
}

ul {
	margin: 0;
	padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
	position: relative;
  z-index: 200;

	margin: 0 72px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	height: 56px;
	margin: 0;
}

.main-nav li {
  flex-grow: 1;

	width: 127px;
	margin: 0 auto;
  padding: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

header img {
	position: absolute;

	top: 0;
	left: calc(50% - (138px / 2));
}

.heading-info {
	margin-right: 147px;
}

.heading-info,
.heading-photo{
	text-align: left;
}

.heading-map,
.heading-hotels{
	text-align: right;
}

.main-nav .heading-photo {
  margin-left: -44px;
}

.main-nav .heading-map {
  margin-right: -42px;
}

.main-nav a:hover {
	color: #91bcd8;
}

.main-nav a:focus {
	color: #c9c9c9;
}

.main-nav a:active{
	color: #aca099;
}

/*-----------------Навигация ENDS-----------------*/
/*-----------------Слоган STARTS-----------------*/
.slogan {
  position: relative;
  z-index: 100;

	height: 724px;

	background-image: url("../img/mask.png"), url("../img/slogan.png"), url("../img/Sedona_mountain.jpg");
	background-position: 50% 452px, 50% 76px, center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain, auto, cover;
}

.slogan-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: calc(50% - (100% / 2));

  min-height: 216px;
  padding: 61px 300px 56px;

  background-color: white;
}

.slogan-content strong {
	display: block;

	font-size: 21px;
	line-height: 1.24;
	font-weight: bold;
}

.slogan-content p {
  display: block;

  margin-top: 26px;

	font-size: 14px;
	line-height: 1.86;
	font-weight: normal;
}

/*-----------------Слоган ENDS-----------------*/
/*-----------------Причины STARTS-----------------*/

.reason {
	color: #fff;
	background-color: #81b3d2;
}

.reason__container {
  display: flex;
  justify-content: space-between;
  /* height: 256px; */
}

.reason__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% - 800px);
  padding: 46px 60px 64px;
}

.reason__content h3 {
  margin: 0;
  padding: 0;

	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reason__content p  {
  margin: 0;
  padding: 0;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.reason__img {
  height: 256px;
}

.reason__img img {
  width: 800px;
  height: 256px;
}

.reason-2 .reason__content {
  order: 1;
}

/*-----------------Причины ENDS-----------------*/

/*-----------------Преимущества STARTS-----------------*/


.features-1 {
  padding: 162px 0 82px;
}

.features-2 {
  padding: 50px 0 64px;
	background-color: #eeeeee;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.feature__item {
  width: 400px;

	position: relative;
}

.feature__item h3{
	margin: 0;
	margin-bottom: 22px;

  font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.feature__item p {
  margin: 0 57px;
  padding: 0;

  font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.features-1 .feature__item::before {
  content: "";

  position: absolute;
  top: -100px;
	left: calc(50% - (75px / 2));

  width: 75px;
	height: 80px;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.features__list .house::before {
	background-image: url(../img/icon-1.svg);
}

.features__list .food::before {
	background-image: url(../img/icon-2.svg);
}

.features__list .souvenir::before {
	background-image: url(../img/icon-3.svg);
}

.features-2 h3 {
  word-spacing: 250px;
}

.features-2 .feature__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-2 p:last-child {
  margin-top: auto;
}

/*-----------------Преимущества ENDS-----------------*/

.call {
	position: relative;

	padding: 57px 0 138px;
}

.call strong {
  margin: 0;
  padding: 0;

	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.call p {
  margin: 0;
  margin-top: 25px;
  padding: 0;

	font-size: 14px;
	line-height: 24px;
}

.map-container {
	position: relative;

	width: auto;
	height: 473px;
}
.map-container img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

/*-----------------ФОРМА START-----------------*/
.find-hotel {
	position: absolute;
	top: -86px;
	left: calc(50% - (568px / 2));

  width: 568px;

	text-align: justify;
	background-color: #ffffff;
}

.search {
  width: inherit;
	height: 86px;
  margin: 0;
  padding: 0;

	font-size: 21px;
	line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
	color: white;

  background-color: #766357;
  outline: none;
  border: none;
}

.search:hover {
  background-color: #604e43;
}

.search:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-open {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

	padding: 55px;
}

.find-hotel__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 100%;
  height: 38px;
  margin-bottom: 30px;

	vertical-align: middle;
}

.form-open label,
.form-open input {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.form-open input {
	border: none;

	background-color: #f2f2f2;
}

.form-open input::-webkit-inner-spin-button {
  display: none;
}

.form-open input[type="date"] {
  width: 346px;
  height: inherit;
  padding-left: 12px;
  padding-right: 40px;

  background-color: #f2f2f2;
}

.form-calendar {
  position: absolute;
  right: 3%;
  top: calc(50% - (22px / 2));
}

.form-calendar:hover path{
  fill: black;
}

.find-hotel__numbers {
  display: flex;
}

.find-hotel__item-half {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  height: 38px;
}

.find-hotel__item-half:first-child label {
  margin-right: auto;
}

.find-hotel__item-half:last-child label{
  margin: auto;
}

.find-hotel__item-half input[type="number"] {
  width: 38px;
  padding: 0;

  text-align: center;
  height: inherit;
}

.find-hotel__item-half button {
  position: relative;

  width: 38px;
  height: inherit;
  padding: 17px 13px;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.minus::before,
.plus::before {
  content: "";

  position: absolute;
  left: calc(50% - (12px / 2));
  top: calc(50% - (3px / 2));

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.plus::after {
  content: "";

  position: absolute;
  left: calc(50% - (3px / 2));
  top: calc(50% - (12px / 2));

  width: 3px;
  height: 12px;

  background-color: #a9a9a9;
}

/* .minus:hover .minus::before{
  background-color: #000000;
}

.minus::before:active,
.plus::before:active,
.plus::after:active{
  background-color: #81b3d2;
} */

.find-hotel-btn {
	width: 100%;
	height: 58px;
	margin-top: 54px;
	padding: 17px 196px;
	border: none;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

  background-color: #81b3d2;
  outline: none;
  border: none;
}

.form-open input:hover {
  background-color: #ebebeb;
}

.form-open:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.find-hotel-btn:hover {
  background-color: #669ec0;
}

.find-hotel-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*-----------------ФОРМА ENDS-----------------*/

/*-----------------FOOTER START-----------------*/

footer {
	height: 120px;
	margin: 0;

	background-color: #f9fbf6;
	opacity: 0.9;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: inherit;
}

.footer-contact {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-contact span {
  text-align: left;
  display: block;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 150px;
  padding: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;

	width: 46px;
  height: 48px;

	background-color: #81b3d2;
}

.social-btn:active path {
  fill-opacity: 0.3;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
  border: none;
}


.footer-copyright {
  display: flex;
	width: 211px;
	height: 41px;
	padding-top: 2px;
}

.footer-copyright .copyright {
  margin: 0;
  margin-right: 8px;
	padding: 0;
	padding-top: 7.5px;
	vertical-align: middle;

	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.copyright-img:hover path {
  fill: #81b3d2;
}

.copyright-img:active path{
  fill: #bdbbbc;
}

/*-----------------FOOTER ENDS-----------------*/

/*-----------------INDEX.html ENDS-----------------*/



/*-----------------HOTELS.html START-----------------*/

/*-----------------form-hotel START-----------------*/
.form-hotel {
  /* height: 217px; */
  padding: 31px 72px;

  text-align: start;

  background-image: url(../img/filter-background.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.form-hotel legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.hotel-types {
  display: flex;
  justify-content: space-between;

  color: #ffffff;
}

.form-hotel-left {
  display: flex;
  justify-content: space-between;

  width: 393px;
}

fieldset {
  display: flex;

  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin-bottom: 31px;
}

.check {
  display: block;

  position: relative;
  margin-left: 40px;
  margin-bottom: 23px;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.check__input {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  left: -38px;
  bottom: 1px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check__input:checked + .check__box {
  background-image: url(../img/checkbox-on.svg);
}

.check__input:disabled + .check__box {
  background: #6a6a6a url(../img/checkbox-off.svg);
}

/*--------------- form-hotel-right Start-------------- */

.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-range input::-webkit-inner-spin-button {
  display: none;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/*--------------- form-hotel-right ENDS-------------- */

/*-----------------form-hotel ENDS-----------------*/

/*-----------------hotel-filter start-----------------*/

.hotel-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  min-height: 86px;
  padding: 0 72px;
}

.hotel-filter-find {
  margin-right: 49px;

  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
}

.sorting {
  margin-right: 40px;

  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
}

.sorting-by button {
  margin: 0;
  margin-right: 33px;
  padding: 0;

  text-transform: uppercase;

  line-height: 1.5;
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  border-bottom: 1px dotted #81b3d2;
  background: none;
  outline: none;
}

.sorting-by button:hover {
  color: #81b3d2;
}

.sorting-by button:focus {
  color: #000000;
  border: none;
}

.sorting-by button:active {
  color: #81b3d2;
  border: none;
}

.filter-button {
  margin-left: auto;
}

.filter-button svg {
  margin: 0;
  padding: 0;
}

.filter-button svg:first-child {
  margin-right: 12px;
}

.filter-button svg path {
  fill: #cacaca;
}

.filter-button svg:hover path {
  fill: black;
}

.filter-button svg:focus path {
  fill: #81b3d2;
}

.filter-button svg:active path {
  fill: #81b3d2;
}

/*-----------------hotel-filter ENDS-----------------*/

/*-----------------hotel-list STARTS-----------------*/

.hotel-item {
	display: flex;
	justify-content: space-between;

  position: relative;

	padding: 30px;
	padding-left: 237px;
	padding-right: 72px;

  text-align: left;

  border-top: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-item:last-child {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 72px;

  width: 135px;
  height: 90px;

  background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.hotel-amara::before {
  background-image: url("../img/hotel_amara.jpg");
}

.hotel-desert::before {
  background-image: url("../img/hotel_desert.jpg");
}

.hotel-villas::before {
  background-image: url("../img/hotel_villas.jpg");
}

.hotel-item h3 {
  margin: 0;
  padding: 0;
}

.hotel-description h3:hover {
  color: #81b3d2;
}

.hotel-description h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description p {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-description span {
  margin-right: 76px;
}

.read-more,
.reserve {
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.read-more {
  background-color: #81b3d2;
}

.read-more:hover {
  background-color: #669ec0;
}

.read-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reserve {
  width: 142px;
  background-color: #766357;
}

.reserve:hover {
  background-color: #604e43;
}

.reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 110px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
}

.mark {
  text-align: center;

  background-color: #f2f2f2;
}

.stars {
  display: block;
  align-self: flex-end;
  width: inherit;
  height: 17px;
  background-image: url("../img/star.png");
	background-size: contain;
	background-repeat: space;
}

.stars-4  {
  width: 85px;
}

.stars-3 {
  width: 65px;
}

.stars-2 {
  width: 45px;
}
/*-----------------HOTELS ENDS-----------------*/

